// fonts
/*-------------------------------------------------------------------------------------------------*/

// Ultra Light
// ----------------------------------------- //
@font-face {
  font-family: 'AvenirNext-UltraLight';
  src: url('../fonts/AvenirNext-UltraLight/AvenirNext-UltraLight.eot');
  src: url('../fonts/AvenirNext-UltraLight/AvenirNext-UltraLight.eot?#iefix') format('embedded-opentype'),
       url('../fonts/AvenirNext-UltraLight/AvenirNext-UltraLight.woff') format('woff'),
       url('../fonts/AvenirNext-UltraLight/AvenirNext-UltraLight.ttf') format('truetype');
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'AvenirNext-UltraLightItalic';
  src: url('../fonts/AvenirNext-UltraLightItalic/AvenirNext-UltraLightItalic.eot');
  src: url('../fonts/AvenirNext-UltraLightItalic/AvenirNext-UltraLightItalic.eot?#iefix') format('embedded-opentype'),
       url('../fonts/AvenirNext-UltraLightItalic/AvenirNext-UltraLightItalic.woff') format('woff'),
       url('../fonts/AvenirNext-UltraLightItalic/AvenirNext-UltraLightItalic.ttf') format('truetype');
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

// Light
// ----------------------------------------- //
@font-face {
  font-family: 'Avenir-Light';
  src: url('../fonts/Avenir-Light/Avenir-Light.eot');
  src: url('../fonts/Avenir-Light/Avenir-Light.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Avenir-Light/Avenir-Light.woff') format('woff'),
       url('../fonts/Avenir-Light/Avenir-Light.ttf') format('truetype');
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

// Regular
// ----------------------------------------- //
@font-face {
  font-family: 'AvenirNext-Regular';
  src: url('../fonts/AvenirNext-Regular/AvenirNext-Regular.eot');
  src: url('../fonts/AvenirNext-Regular/AvenirNext-Regular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/AvenirNext-Regular/AvenirNext-Regular.woff') format('woff'),
       url('../fonts/AvenirNext-Regular/AvenirNext-Regular.ttf') format('truetype');
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'AvenirNext-Italic';
  src: url('../fonts/AvenirNext-Italic/AvenirNext-Italic.eot');
  src: url('../fonts/AvenirNext-Italic/AvenirNext-Italic.eot?#iefix') format('embedded-opentype'),
       url('../fonts/AvenirNext-Italic/AvenirNext-Italic.woff') format('woff'),
       url('../fonts/AvenirNext-Italic/AvenirNext-Italic.ttf') format('truetype');
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

// Medium
// ----------------------------------------- //
@font-face {
  font-family: 'AvenirNext-Medium';
  src: url('../fonts/AvenirNext-Medium/AvenirNext-Medium.eot');
  src: url('../fonts/AvenirNext-Medium/AvenirNext-Medium.eot?#iefix') format('embedded-opentype'),
       url('../fonts/AvenirNext-Medium/AvenirNext-Medium.woff') format('woff'),
       url('../fonts/AvenirNext-Medium/AvenirNext-Medium.ttf') format('truetype');
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'AvenirNext-MediumItalic';
  src: url('../fonts/AvenirNext-MediumItalic/AvenirNext-MediumItalic.eot');
  src: url('../fonts/AvenirNext-MediumItalic/AvenirNext-MediumItalic.eot?#iefix') format('embedded-opentype'),
       url('../fonts/AvenirNext-MediumItalic/AvenirNext-MediumItalic.woff') format('woff'),
       url('../fonts/AvenirNext-MediumItalic/AvenirNext-MediumItalic.ttf') format('truetype');
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

// Demi
// ----------------------------------------- //
@font-face {
  font-family: 'AvenirNext-DemiBold';
  src: url('../fonts/AvenirNext-DemiBold/AvenirNext-DemiBold.eot');
  src: url('../fonts/AvenirNext-DemiBold/AvenirNext-DemiBold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/AvenirNext-DemiBold/AvenirNext-DemiBold.woff') format('woff'),
       url('../fonts/AvenirNext-DemiBold/AvenirNext-DemiBold.ttf') format('truetype');
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'AvenirNext-DemiBoldItalic';
  src: url('../fonts/AvenirNext-DemiBoldItalic/AvenirNext-DemiBoldItalic.eot');
  src: url('../fonts/AvenirNext-DemiBoldItalic/AvenirNext-DemiBoldItalic.eot?#iefix') format('embedded-opentype'),
       url('../fonts/AvenirNext-DemiBoldItalic/AvenirNext-DemiBoldItalic.woff') format('woff'),
       url('../fonts/AvenirNext-DemiBoldItalic/AvenirNext-DemiBoldItalic.ttf') format('truetype');
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

// Bold
// ----------------------------------------- //
@font-face {
  font-family: 'AvenirNext-Bold';
  src: url('../fonts/AvenirNext-Bold/AvenirNext-Bold.eot');
  src: url('../fonts/AvenirNext-Bold/AvenirNext-Bold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/AvenirNext-Bold/AvenirNext-Bold.woff') format('woff'),
       url('../fonts/AvenirNext-Bold/AvenirNext-Bold.ttf') format('truetype');
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'AvenirNext-BoldItalic';
  src: url('../fonts/AvenirNext-BoldItalic/AvenirNext-BoldItalic.eot');
  src: url('../fonts/AvenirNext-BoldItalic/AvenirNext-BoldItalic.eot?#iefix') format('embedded-opentype'),
       url('../fonts/AvenirNext-BoldItalic/AvenirNext-BoldItalic.woff') format('woff'),
       url('../fonts/AvenirNext-BoldItalic/AvenirNext-BoldItalic.ttf') format('truetype');
  font-weight: normal;
  text-rendering: optimizeLegibility;
}
